<!DOCTYPE html>
<html>
<head>
	<title>DataFrame Data</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h3>Data Set</h3>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/bar">Bar Plots</a>
      <a class="nav-item nav-link" href="/map">Map Plots</a>
      <a class="nav-item nav-link" href="/data">Data Set</a>
    </div>
</nav>

<p>Her kan i se al vores data, som vi har brugt til at lave diverse grafer og kort <br>
Denne data er lavet ud fra disse sider <a href="http://senvol.com/5_machine-results/">senvol.com</a> og <a href="https://www.3ders.org/pricecompare/3dprinters/">3ders.org</a></p>
<p><a href="/data/3d_printers_senvol.csv" download>Senvol dataset</a></p>
<p><a href="/data/3d_printers.csv" download>3ders dataset</a></p>
<p><a href="/data/countries.csv" download>Lande dataset</a></p>


<p>Det samlede dataset kan ses herunder eller hentes <a href="/data/printers_unique_country.csv" download>her</a> </p>
<div class="dataset">
 {{ printers_data|safe }}
</div>


</body>
</html>
