<!DOCTYPE html>
<html>
<head>
	<title>DataFrame Data</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h3>Data Set</h3>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/bar">Bar Plots</a>
      <a class="nav-item nav-link" href="/map">Map Plots</a>
      <a class="nav-item nav-link" href="/data">Data Set</a>
    </div>
</nav>

<p>Her foreligger al dataen, brugt til at udarbejde grafer og kort. <br>
Denne data er samlet ud fra disse sider <a href="http://senvol.com/machine-search/">senvol.com</a> og <a href="https://www.3ders.org/pricecompare/3dprinters/">3ders.org</a></p>
<ul>
<li><p><a href="/data/3d_printers_senvol.csv" download>Senvol dataset</a></p></li>
<li><p><a href="/data/3d_printers.csv" download>3ders dataset</a></p></li>
<li><p><a href="/data/countries.csv" download>Lande dataset</a></p></li>
</ul>

<p>Ovenstående dataset er blevet bearbejdet, for at kunne udarbejde de forskellige grafer. <br>
De bearbejdede dataset er tilgængelige herunder: </p>
<ul>
	<li><p><a href="/data/printers_combined_tech.csv" download>Printer teknologier</a></p></li>
	<li><p><a href="/data/printers_combined_price.csv" download>Printer priser per land</a></p></li>
</ul>

<p>Det samlede dataset kan hentes <a href="/data/printers_all_data.csv" download>her</a> </p>

</body>
</html>
