<!DOCTYPE html>
<html>
<head>
	<title>DataFrame Data</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h3>Home</h3>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/bar">Bar Plots</a>
      <a class="nav-item nav-link" href="/map">Map Plots</a>
			<a class="nav-item nav-link" href="/data">Data Set</a>
    </div>
</nav>

<p>Denne side indeholder data om 3d-printere og diverse grafer kan ses ved at bruge navigationen i toppen af siden</p>

</body>
</html>
